<div class="container-fluid">

  <app-page-title title="Match Quiz" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
      <div class="col-xl-12">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Add Quiz</h5>
                  <p class="card-title-desc"></p>
                  <form [formGroup]="addQuizFormGroup" >
                      <div class="row">
                        <div class="col-md-12">
                          <div class="mb-3">
                              <label>Select Upcoming Matches</label>
                              <ng-select formControlName="match_id" placeholder="Select Match" [items]="upcomingMatches" bindLabel="label" bindValue="match_id"></ng-select>
                          </div>
                        </div>
                      </div>
                      <ng-container formArrayName="quiz" *ngFor="let qui of quiz?.controls; let i = index">
                        <div class="row"  [formGroupName]="i">
                          <div class="col-md-4">
                            <div class="mb-3">
                                <label for="formrow-email-input">Question</label>
                                <input type="text" class="form-control" formControlName="question" >
                                <small>#TEAM1 : For Team 1, #TEAM2 : For Team 2</small>
                            </div>
                          </div>
                          <div class="col-md-2">
                            <div class="mb-3">
                                <label for="formrow-email-input">Question Type</label>
                                <select class="form-control" formControlName="type" (change)="questionTypeChange($event.target, quiz.at(i))" >
                                  <option value="boolean">Yes/No</option>
                                  <option value="4options">4 Options</option>
                                  <option value="team">Team</option>
                                  <option value="nearest">Nearest</option>
                                </select>
                            </div>
                          </div>
                          <div class="col-md-1">
                            <div class="mb-3">
                                <label for="formrow-email-input">Run After</label>
                                <select class="form-control" formControlName="runAfter" >
                                  <option value="1hrbefore">1 Hours Before match start</option>
                                  <option value="MatchStart">On Match Start</option>
                                  <option value="On1innOver">On 1st inning over</option>
                                  <option value="On2ndInnStart">After 2nd inning start</option>
                                  <option value="MatchEnds">On Match ends</option>
                                </select>
                            </div>
                          </div>
                          <div class="col-md-1" *ngIf="quiz.at(i).value.type !== 'nearest'">
                            <div class="mb-3">
                                <label for="formrow-email-input">A</label>
                                <input type="text" class="form-control"  [value]="quiz.at(i).value.type === 'boolean' ? 'Yes' : quiz.at(i).value.type === 'team' ? '#TEAM1' : ''" formControlName="A">
                            </div>
                          </div>
                          <div class="col-md-1" *ngIf="quiz.at(i).value.type !== 'nearest'">
                            <div class="mb-3">
                                <label for="formrow-email-input">B</label>
                                <input type="text" class="form-control"   [value]="quiz.at(i).value.type === 'boolean' ? 'No' : quiz.at(i).value.type === 'team' ? '#TEAM2' : ''"  formControlName="B">
                            </div>
                          </div>
                          <div class="col-md-1" *ngIf="quiz.at(i).value.type === 'nearest'">
                            <div class="mb-3">
                                <label for="formrow-email-input">Min</label>
                                <input type="number" class="form-control"  [value]="quiz.at(i).value.type === 'boolean' ? 'Yes' : quiz.at(i).value.type === 'team' ? '#TEAM1' : ''" formControlName="A">
                            </div>
                          </div>
                          <div class="col-md-1" *ngIf="quiz.at(i).value.type === 'nearest'">
                            <div class="mb-3">
                                <label for="formrow-email-input">Max</label>
                                <input type="number" class="form-control"   [value]="quiz.at(i).value.type === 'boolean' ? 'No' : quiz.at(i).value.type === 'team' ? '#TEAM2' : ''"  formControlName="B">
                            </div>
                          </div>
                          <div class="col-md-1" *ngIf="quiz.at(i).value.type === '4options'">
                            <div class="mb-3">
                                <label for="formrow-email-input">C</label>
                                <input type="text" class="form-control"  formControlName="C">
                            </div>
                          </div>
                          <div class="col-md-1" *ngIf="quiz.at(i).value.type === '4options'">
                            <div class="mb-3">
                                <label for="formrow-email-input">D</label>
                                <input type="text" class="form-control"  formControlName="D">
                            </div>
                          </div>
                          <div class="form-group col-lg-1" >
                            <button *ngIf="i===0"  (click)="addQuiz()" type="button" class="btn btn-outline-success button-icon" style="margin-top: 27px;"><i class="bx bx-plus"></i></button>
                            <button *ngIf="i!==0"  (click)="removeQuiz(i)" type="button" class="btn btn-outline-danger button-icon" style="margin-top: 27px;"><i class="bx bx-minus"></i></button>
                          </div>
                        </div>
                      </ng-container>
                      <div>
                          <button type="submit" class="btn btn-primary w-md" [disabled]="!addQuizFormGroup.valid"  (click)="onSave()" >Submit</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>


  <div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Add Bulk Quiz</h5>
                <p class="card-title-desc"></p>
                <form [formGroup]="addBullQuizFormGroup" >
                    <div class="row">
                      <div class="col-md-12">
                        <div class="mb-3">
                            <label>Select Recent Matches</label>
                            <ng-select formControlName="match_id" placeholder="Select Match" [items]="upcomingMatches" bindLabel="label" bindValue="series_id" ></ng-select>
                        </div>
                      </div>

                      <div class="col-md-6" >
                        <label for="">Sample Excel</label> <br>
                        <a href="/assets/download/bulk_quiz.xlsx" class="btn btn-primary"> <i class='bx bx-spreadsheet'></i> </a>
                      </div>
                      <div class="col-md-6">
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Upload Banner</label>
                            <input class="form-control" #fileBulkExport type="file"  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" (change)="uploadFile($event)">
                        </div>
                    </div>
                    </div>
                    <div>
                      <!-- !addBullQuizFormGroup.valid || uploadButtonClicked -->
                      <button type="submit" class="btn btn-primary w-md" [disabled]="true"  (click)="onSaveBulk()" >Submit</button>
                      <a href="javascript:void(0);" *ngIf="uploadButtonClicked" style="margin-left: 20px" class="text-success"><i class="bx bx-loader bx-spin font-size-18 align-middle me-2"></i> Uploading... </a> <br>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
