<div class="container-fluid">

    <app-page-title title="Answer Contest" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">User Transanction</h5>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table id="basic-datatable"
                                      class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline">
                                      <thead>
                                        <tr>
                                          <th>Question</th>
                                          <th>User</th>
                                          <th>Category</th>
                                          <th>Total</th>
                                          <th>Answer</th>
                                          <th>Status</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <ng-container *ngFor="let question of transanctionList">
                                          <tr>
                                            <td>{{question.question.question}}</td>
                                            <td>
                                                {{question.user?.name}} <br>
                                                <small>{{question.user?.email}}</small>
                                            </td>
                                            <td>{{question.question.category}}</td>
                                            <td>{{question.question.total_marks}} ( Yes : {{question.question.options.Yes}}  No : {{question.question.options.No}} )</td>
                                            <td>{{question.answer}}</td>
                                            <td>
                                              <span *ngIf="question.status == 'pending'" class="badge bg-secondary">Pending</span>
                                              <span *ngIf="question.status == 'correct'" class="badge bg-success">Correct</span>
                                              <span *ngIf="question.status == 'incorrect'" class="badge bg-danger">InCorrect</span>
                                            </td>
                                            
                                          </tr>
                                        </ng-container>
                                      </tbody>
                                    </table>
                                  </div>
                            </div>
                        </div>
                            
                    </div>
                </div>
            </div>
        </div>
</div>
  