<div class="container-fluid">

    <app-page-title title="Franchise Members" [breadcrumbItems]="breadCrumbItems"></app-page-title>


    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-body border-bottom">
                      <form [formGroup]="searchFormGroup">
                        <div class="row">
                            <div class="col-lg-3">
                                <input type="search" class="form-control" id="searchInput" formControlName="name" placeholder="Search for Name...">
                            </div>
                            <div class="col-lg-3">
                                <input type="search" class="form-control" id="searchInput" formControlName="account_number" placeholder="Search for Account Number...">
                            </div>
                            <div class="col-lg-2">
                                <input type="search" class="form-control" id="searchInput" formControlName="user_id" placeholder="Search for User id...">
                            </div>
                            <div class="col-lg-2">
                                <select class="form-control select2" formControlName="status" >
                                    <option value="">Select Status</option>
                                    <option value="All">All</option>
                                    <option *ngFor="let status of statusList" [ngValue]="status" >{{status}}</option>
                                </select>
                            </div>

                            <div class="col-lg-1">
                                <button type="button" (click)="getFranchiseMembers()" class="btn btn-soft-secondary w-100"><i class="mdi mdi-filter-outline align-middle"></i> Filter</button>
                            </div>
                            <div class="col-lg-1" >
                                    <button (click)="reset()" type="button" class="btn btn-soft-secondary w-100" class="btn btn-light"><i class="mdi mdi-refresh"></i></button>
                                </div>
                        </div>
                      </form>
                  </div>
                  <div class="commission-legend d-flex justify-content-between align-items-center" *ngIf="userList && userList.length > 0">
                        <div class="mb-2 ms-auto d-flex align-items-center">
                          <strong class="me-2">Total Franchise Commission:</strong>
                          <span>₹ {{ totalDirectCommission }}</span>
                        </div>
                      </div>
                    <div class="row">
                        <div class="d-flex flex-column justify-content-center align-items-center"  style="min-height: 150px;"  *ngIf="!userList || userList.length === 0">
                            <img src="assets/img/not-found.png" width="300px" alt="">
                            <p class="text-mutes mt-2">No Users Found in current filter.</p>
                        </div>
                        
                            <div class="table-responsive" *ngIf="userList && userList.length > 0">
                                <table id="basic-datatable" class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline">
                                  <thead>
                                    <tr>
                                      <th>Sr No</th>
                                      <th>Name</th>
                                      <th>UserId</th>
                                      <th>Refer Id</th>
                                      <th>Commission</th>
                                      <!-- <th>Direct Ref</th>
                                      <th>InDirect Ref</th> -->
                                      <th>Account Number</th>
                                      <th>Gender</th>
                                      <th>Age</th>
                                      <th>Date</th>
                                      <th [width]="10" >Status</th>
                                      <th [width]="10" >Action</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let user of userList; let i = index">
                                      <!-- <td>{{user | json}}</td> -->
                                      <td>{{ (page - 1) * pageSize + i + 1 }}</td>
                                      <td>
                                        {{ user.name }} <br>
                                        <span *ngIf="user.guardian_name" class="text-muted" > Gardian  : {{ user.guardian_name || '-' }} ({{user.guardian_relation}}) <br></span>

                                      </td>
                                      <td>{{ user.user_id }}</td>
                                      <td> {{user.referred_by[0]?.name}} <br> {{ user.referred_by[0]?.user_id || '-' }}   </td>
                                      <td> <b> Member: </b> ₹ {{ user.franchiseCommission }} <br>
                                        <b> Card: </b> ₹ {{ user.creditCardFranchiseCommission }} <br>
                                        <b> Loan: </b> ₹ {{ user.loan_franchise | number }} <br>
                                      </td>
                                      <td>{{ user.account_number || '-' }}</td>
                                      <td>{{ user.gender || '-' }}</td>
                                      <td> {{ user.date_of_birth ? (getAge(user.date_of_birth)) : '-' }} </td>
                                      <td>
                                        Joining : {{ user.created_date | date}} <br>
                                        Approved : {{ user.approved_date | date}}
                                      </td>
                                      <td>
                                        <a href="javascript: void(0);" class="badge font-size-11 m-1" 
                                          [ngClass]="{
                                            'badge-soft-primary': user.status === 'Active',
                                            'badge-soft-warning': user.status === 'Pending',
                                            'badge-soft-danger': user.status === 'Blocked' || user.status === 'Deleted',
                                            'badge-soft-secondary': user.status === 'Inactive'
                                          }">
                                          Account {{ user.status }}
                                        </a>
                                        <a *ngIf="user.kyc.length == 1" href="javascript: void(0);" class="badge font-size-11 m-1"
                                          [ngClass]="{
                                            'badge-soft-primary': user?.kyc[0]?.status === 'Approved',
                                            'badge-soft-warning': user?.kyc[0]?.status === 'Requested',
                                            'badge-soft-danger': user?.kyc[0]?.status === 'Rejected'
                                          }">
                                          KYC {{ user?.kyc[0]?.status }}
                                        </a>
                                        <a *ngIf="user.franchise_status" href="javascript: void(0);" class="badge font-size-11 m-1"
                                          [ngClass]="{
                                            'badge-soft-primary': user.franchise_status === 'Approved',
                                            'badge-soft-warning': user.franchise_status === 'Requested',
                                            'badge-soft-danger': user.franchise_status === 'Rejected'
                                          }">
                                          Franchise {{ user.franchise_status }}
                                        </a>
                                        <a *ngIf="user.advisor_status" href="javascript: void(0);" class="badge font-size-11 m-1"
                                          [ngClass]="{
                                            'badge-soft-primary': user.advisor_status === 'Approved',
                                            'badge-soft-warning': user.advisor_status === 'Requested',
                                            'badge-soft-danger': user.advisor_status === 'Rejected'
                                          }">
                                          Advisor {{ user.advisor_status }}
                                        </a>
                                      </td>
                                      <td>
                                        <ul class="list-inline font-size-20 contact-links mb-0" *ngIf="user.status !== 'Deleted'">
                                          
                                          <li class="list-inline-item px-2" >
                                            <a routerLink="/members/view/{{user._id}}" tooltip="Profile">
                                              <i class="bx bx-user-circle"></i>
                                            </a>
                                          </li>
                                        </ul>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                                <div class="row justify-content-md-between align-items-md-center mt-2">
                                  <div class="col-sm-12 col-md-5">
                                    <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
                                      <b>{{ (page - 1) * pageSize + 1 }}</b> to
                                      {{ findPageShowing() }} of {{ total }}
                                      entries
                                    </div>
                                  </div>
                                  <div class="col-sm-12 col-md-5">
                                    <div class="text-md-right float-md-end pagination-rounded">
                                      <ngb-pagination [collectionSize]="total" [(page)]="page" [pageSize]="pageSize" (pageChange)="pageChange($event)">
                                      </ngb-pagination>
                                    </div>
                                  </div>
                                </div>
                              </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
