<div class="container-fluid">
    <app-page-title title="Gift Card" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="row" >
        <div class="col-lg-4">
            <div class="ng-star-inserted">
                <div class="card text-center">
                    <div class="card-body mb-0">
                        <img src="assets/img/gift-card.png" alt="Header Avatar" width="150">
                        <div class="mt-2">
                            <h5 class="font-size-15 mb-1"><a href="javascript: void(0);" class="text-dark"> Lorem Ipsum</a>
                            </h5>
                            <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent border-top mb-0">
                        <div class="contact-links d-flex font-size-20">
                            <div class="flex-fill">
                                <a href="javascript: void(0);" tooltip="Message"><i class="bx bx-edit"></i> </a>
                            </div>
                            <div class="flex-fill" (click)="deleteGiftCard('id')">
                                <a href="javascript: void(0);" tooltip="Projects"><i class="bx bxs-trash"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="ng-star-inserted">
                <div class="card text-center">
                    <div class="card-body mb-0">
                        <img src="assets/img/gift-card.png" alt="Header Avatar" width="150">
                        <div class="mt-2">
                            <h5 class="font-size-15 mb-1"><a href="javascript: void(0);" class="text-dark"> Lorem Ipsum</a>
                            </h5>
                            <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent border-top mb-0">
                        <div class="contact-links d-flex font-size-20">
                            <div class="flex-fill">
                                <a href="javascript: void(0);" tooltip="Message"><i class="bx bx-edit"></i> </a>
                            </div>
                            <div class="flex-fill" (click)="deleteGiftCard('id')">
                                <a href="javascript: void(0);" tooltip="Projects"><i class="bx bxs-trash"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-4">
            <div class="ng-star-inserted">
                <div class="card text-center">
                    <div class="card-body mb-0">
                        <img src="assets/img/gift-card.png" alt="Header Avatar" width="150">
                        <div class="mt-2">
                            <h5 class="font-size-15 mb-1"><a href="javascript: void(0);" class="text-dark"> Lorem Ipsum</a>
                            </h5>
                            <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent border-top mb-0">
                        <div class="contact-links d-flex font-size-20">
                            <div class="flex-fill">
                                <a href="javascript: void(0);" tooltip="Message"><i class="bx bx-edit"></i> </a>
                            </div>
                            <div class="flex-fill" (click)="deleteGiftCard('id')">
                                <a href="javascript: void(0);" tooltip="Projects"><i class="bx bxs-trash"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="ng-star-inserted">
                <div class="card text-center">
                    <div class="card-body mb-0">
                        <img src="assets/img/gift-card.png" alt="Header Avatar" width="150">
                        <div class="mt-2">
                            <h5 class="font-size-15 mb-1"><a href="javascript: void(0);" class="text-dark"> Lorem Ipsum</a>
                            </h5>
                            <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent border-top mb-0">
                        <div class="contact-links d-flex font-size-20">
                            <div class="flex-fill">
                                <a href="javascript: void(0);" tooltip="Message"><i class="bx bx-edit"></i> </a>
                            </div>
                            <div class="flex-fill" (click)="deleteGiftCard('id')">
                                <a href="javascript: void(0);" tooltip="Projects"><i class="bx bxs-trash"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

</div>