<div class="container-fluid">

    <!-- start page title -->
    <app-page-title title="Add Product" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <!-- end page title -->
  
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
  
            <h4 class="card-title">Basic Information</h4>
            <p class="card-title-desc">Fill all information below</p>
  
            <form [formGroup]="productForm" >
              <div class="row">
                <div class="col-sm-6">
                  <div class="mb-3">
                    <label for="productname">Product Name</label>
                    <input id="productname" name="productname" type="text" class="form-control" formControlName="name" >
                  </div>
                  <div class="mb-3">
                    <label for="category">Category</label>
                    <ng-select [items]="categoryList" 
                            bindLabel="name" 
                            formControlName="category"
                            bindValue="id"  >
                    </ng-select>
                  </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                      <label for="productname">Coin</label>
                      <input id="productname" name="price" type="number" class="form-control" formControlName="price" >
                    </div>
                    <div class="mb-3">
                        <label for="quantity">Quantity</label>
                        <input id="quantity" name="quantity" type="number" class="form-control" formControlName="quantity" >
                    </div>
                </div>
                <div class="col-sm-12">
                  <div class="mb-3">
                    <label for="product-image" class="mt-2"> Product Images</label>
                    <dropzone #productDropzone class="dropzone" [config]="config"></dropzone>
                  </div>
                </div>
                <div class="col-sm-12">
                    <div class="mb-3">
                      <label for="description" class="mt-2"> Description</label>
                      <textarea id="description" name="description" type="text" class="form-control" formControlName="description" > </textarea>
                    </div>
                </div>
              </div>
              <div class="d-flex flex-wrap gap-2 mt-2">
                <button type="submit" class="btn btn-primary" (click)="createProduct()" >Save Changes</button>
                <button type="submit" class="btn btn-secondary">Cancel</button>
              </div>
            </form>
          </div>
        </div>
  
        
      </div>
    </div>
    <!-- end row -->
  
  </div> <!-- container-fluid -->