<div class="container-fluid">

  <app-page-title title="Transanction History" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body" >
                        <div class="card-body border-bottom" >
                            <form [formGroup]="searchFormGroup" >
                                <div class="row">
                                    <div class="col-lg-2">
                                        <input type="search" class="form-control" id="searchInput" placeholder="Search for Name / User Id / Email id..." formControlName="name">
                                    </div>
                                    <div class="col-lg-2">
                                        <input type="search" class="form-control" id="searchInput" placeholder="Search for Loan Number" formControlName="loan_id">
                                    </div>
                                    <div class="col-lg-2">
                                        <input type="search" class="form-control" id="searchInput" placeholder="Search for Transanction Id.." formControlName="transaction_id"> 
                                    </div>
                                    <div class="col-lg-1">
                                        <select class="form-control" formControlName="transaction_type">
                                            <option value="">Transanction Type</option>
                                            <option value="credit">Credit</option>
                                            <option value="debit">Debit</option>
                                            <option value="interest">Interest</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-1">
                                        <select class="form-control" formControlName="payment_method"> 
                                            <option value="">Payment Method</option>
                                            <option value="EMI">EMI</option>
                                            <option value="Bank Transfer">Bank Transfer</option>
                                            <option value="Cash">Cash</option>
                                            <option value="Cheque">Cheque</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-2" >
                                       <input type="date" class="form-control" id="searchInput" formControlName="transaction_date">
                                    </div>
                                    
                                    <div class="col-lg-1">
                                        <button (click)="getTransanctionList()" type="button" class="btn btn-soft-secondary w-100"><i class="mdi mdi-filter-outline align-middle"></i> Filter</button>
                                    </div>
                                    <div class="col-lg-1" >
                                        <button (click)="refresh()" type="button" class="btn btn-soft-secondary w-100" class="btn btn-light"><i class="mdi mdi-refresh"></i></button>
                                    </div>
                                </div>
                          </form>
                      </div>
                        <div class="row">
                                <div class="d-flex flex-column justify-content-center align-items-center"  style="min-height: 150px;"  *ngIf="!transanctionList || transanctionList.length === 0">
                                    <img src="assets/img/not-found.png" width="300px" alt="">
                                    <p class="text-mutes mt-2">No Transanction found in the current filter.</p>
                                </div>
                                <div class="table-responsive"  *ngIf="transanctionList.length !== 0">
                                    <table id="basic-datatable"
                                      class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline">
                                      <thead>
                                        <tr>
                                          <th>Sr No</th>
                                          <th>User</th>
                                          <th>Loan ID</th>
                                          <th>Transanction Id</th>
                                          <th>Transanction Type</th>
                                          <th>Approval Amount</th>
                                          <th>Credit Amount</th>
                                          <th>Debit Amount</th>
                                          <th>Payment Method</th>
                                          <th>Date</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr *ngFor="let loan of transanctionList; let i = index">
                                          <td>{{ (page - 1) * pageSize + i + 1 }}</td>
                                          <td>{{loan.user.name}} ({{loan.user.user_id}})  </td>
                                          <td>{{loan.loan.loan_id}}</td>
                                          <td>{{loan.transaction_id}}</td>
                                          <td>
                                             <a *ngIf="loan.transaction_type" href="javascript: void(0);" class="badge font-size-11 m-1"
                                              [ngClass]="{
                                                'badge-soft-primary': loan.transaction_type === 'credit' , 
                                                'badge-soft-info': loan.transaction_type === 'interest' , 
                                                'badge-soft-warning': loan.transaction_type === 'debit' ,
                                                'badge-soft-dark': loan.transaction_type === 'ccredit' 
                                              }">
                                              {{ loan.transaction_type | titlecase }}
                                            </a>
                                          </td>
                                          <td>
                                            Amount: ₹{{loan?.loan?.approved_loan_amount | number}} <br>
                                            Requested Date: {{loan?.loan?.created_date | date}}
                                          </td>
                                          <td>
                                            <div *ngIf="loan.transaction_type === 'interest'  " >
                                              Principal Amount : ₹{{loan.principal_component}} <br>
                                              Interest Amount : ₹{{loan.interest_component}} <br>
                                              <b> Amount : ₹{{loan.amount}} </b>
                                            </div>
                                            <div *ngIf="loan.transaction_type === 'credit'  " >
                                             ₹{{loan.amount}} 
                                            </div>
                                          </td>
                                          <td>
                                            <span *ngIf="loan.transaction_type === 'debit'  ">₹{{loan.amount}}</span>
                                            <span *ngIf="loan.transaction_type === 'ccredit'  ">₹{{loan.amount}}</span>
                                          </td>
                                          <td>{{loan.payment_method}}</td>
                                          <td>{{loan.transaction_date | date: 'medium'}}</td>
                                          
                                          
                                        </tr>
                                      </tbody>
                                    </table>
                                    <div class="row justify-content-md-between align-items-md-center mt-2">
                                      <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
                                          <b>{{ (page - 1) * pageSize + 1 }}</b> to
                                          {{ findPageShowing() }} of {{ total }}
                                          entries
                                        </div>
                                      </div>
                                      <div class="col-sm-12 col-md-5">
                                        <div class="text-md-right float-md-end pagination-rounded">
                                          <ngb-pagination [collectionSize]="total" [(page)]="page" [pageSize]="pageSize" (pageChange)="pageChange($event)">
                                          </ngb-pagination>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                        </div>
                            
                    </div>
                </div>
            </div>
    </div>
</div>