<div class="container-fluid">
    <app-page-title title="KYC Requests" [breadcrumbItems]="breadCrumbItems"></app-page-title>
<app-toast aria-live="polite" aria-atomic="true"></app-toast>
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-body border-bottom">
                      <form [formGroup]="searchFormGroup">
                        <div class="row">
                            <div class="col-lg-5">
                                <input type="search" class="form-control" id="searchInput" formControlName="user_id" placeholder="Search for User ID/Name...">
                            </div>

                            <div class="col-lg-4">
                                <select class="form-select" formControlName="status" id="statusSelect">
                                    <option value="">All Statuses</option>
                                    <option *ngFor="let status of kycStatusList" [value]="status">{{ status }}</option>
                                </select>

                            </div>

                            <div class="col-lg-2">
                                <button type="button" (click)="search()" class="btn btn-soft-secondary w-100"><i class="mdi mdi-filter-outline align-middle"></i> Filter</button>
                            </div>
                            <div class="col-lg-1" >
                                    <button (click)="reset()" type="button" class="btn btn-soft-secondary w-100" class="btn btn-light"><i class="mdi mdi-refresh"></i></button>
                                </div>
                        </div>
                      </form>
                  </div>
                    <div class="row">
                        <div class="d-flex flex-column justify-content-center align-items-center"
                            style="min-height: 150px;" *ngIf="!kycList || kycList.length === 0">
                            <img src="assets/img/not-found.png" width="300px" alt="">
                            <p class="text-mutes mt-2">No Request found in current filter.</p>
                        </div>
                        <div class="table-responsive" *ngIf="kycList.length != 0">
                            <table id="basic-datatable"
                              class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline">
                              <thead>
                                <tr>
                                  <th>Sr No</th>
                                  <th>Name</th>
                                  <th>UserId</th>
                                  <th>Refer ID</th>
                                  <th>Aadhar Number</th>
                                  <th>Status</th>
                                  <th>Date</th>
                                  <th>Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let user of kycList; let i = index">
                                  <td>{{ (page - 1) * pageSize + i + 1 }}</td>
                                  <td>
                                    {{ user?.user_details?.name }}<br>

                                  </td>
                                  <td>{{ user?.user_details?.user_id }}</td>
                                  <td>
                                    <span *ngIf="user?.parent_details && user?.parent_details.length > 0">
                                     {{ user?.parent_details[0]?.name }} <br>
                                     {{ user?.parent_details[0]?.user_id }}

                                    </span>
                                    
                                  </td>
                                  <td>
                                    {{user.aadhar}}
                                    <ul class="list-inline font-size-20 contact-links mb-0">
                                      <li *ngIf="user?.aadhar_front"  data-bs-toggle="modal" data-bs-target="#myModal" (click)="openImage(user?.aadhar_front)" class="list-inline-item px-2">
                                        <a href="javascript:void(0);" tooltip="Message">
                                          <i class="bx bx-id-card"></i>
                                        </a>
                                        <li *ngIf="user?.aadhar_back"  data-bs-toggle="modal" data-bs-target="#myModal" (click)="openImage(user?.aadhar_back)" class="list-inline-item px-2">
                                        <a href="javascript:void(0);" tooltip="Message">
                                          <i class="bx bx-id-card" style="transform: scaleX(-1);"></i>
                                        </a>
                                      </li>
                                    </ul>
                                   </td>

                                  <td>
                                    <a *ngIf="user.status === 'Requested'" href="javascript: void(0);" class="badge font-size-11 m-1 badge-soft-warning">
                                      {{ user.status }}
                                    </a>
                                    <a  *ngIf="user.status === 'Completed'" href="javascript: void(0);" class="badge font-size-11 m-1 badge-soft-primary">
                                      {{ user.status }}
                                    </a>
                                  </td>
                                  <td>
                                    {{ user.created_date | date: 'medium' }}
                                  </td>
                                  <td>
                                    <ul class="list-inline font-size-20 contact-links mb-0">
                                      <li class="list-inline-item px-2" >
                                        <a routerLink="/members/profile/form/{{user.user_details._id}}" tooltip="Profile">
                                          <i class="bx bx-user-circle"></i>
                                        </a>
                                      </li>
                                      <li class="list-inline-item px-2" >
                                        <a class="cursor-pointer" (click)="openCDSettingFn(settingModal, user)" tooltip="Profile">
                                          <i class="bx bx-cog bx-spin"></i>
                                        </a>
                                      </li>
                                    </ul>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <div class="row justify-content-md-between align-items-md-center mt-2">
                              <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
                                  <b>{{ (page - 1) * pageSize + 1 }}</b> to
                                  {{ findPageShowing() }} of {{ total }}
                                  entries
                                </div>
                              </div>
                              <div class="col-sm-12 col-md-5">
                                <div class="text-md-right float-md-end pagination-rounded">
                                  <ngb-pagination [collectionSize]="total" [(page)]="page" [pageSize]="pageSize" (pageChange)="pageChange($event)">
                                  </ngb-pagination>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

  </div>

  <ng-template #settingModal role="document" let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Settings</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form [formGroup]="saveDepositSettings">
        <div class="modal-body">
            <div class="row">

                    <!-- Annual Rate -->
                    <div class="mb-3 col-lg-12">
                        <label class="col-form-label">Annual Rate (%)</label>
                        <input type="number" class="form-control" placeholder="Settings" formControlName="annual_rate">
                        <span class="text-muted">Enter the yearly interest rate as a percentage</span>
                        <div class="text-danger"
                            *ngIf="saveDepositSettings.get('annual_rate')?.touched && saveDepositSettings.get('annual_rate')?.invalid">
                            <small *ngIf="saveDepositSettings.get('annual_rate')?.errors?.['required']">Annual Rate is
                                required.</small>
                            <small *ngIf="saveDepositSettings.get('annual_rate')?.errors?.['pattern']">Enter a valid
                                number
                                (e.g. 5, 7.25).</small>
                        </div>
                    </div>

                    <!-- Payment Interval -->
                    <div class="mb-3 col-lg-6">
                        <label class="col-form-label">Payment Interval</label>
                        <select class="form-control select2" formControlName="interval">
                            <option value="" disabled>Select Interval</option>
                            <option value="Monthly">Monthly</option>
                        </select>
                        <div class="text-danger"
                            *ngIf="saveDepositSettings.get('interval')?.touched && saveDepositSettings.get('interval')?.invalid">
                            <small>Payment interval is required.</small>
                        </div>
                    </div>

                    <div class="mb-3 col-lg-6">
                        <label class="col-form-label">Penalty Amount (In Rupees)</label>
                        <input type="number" class="form-control" placeholder="Penalty Amount" formControlName="penalty_amount">
                        <div class="text-danger"
                            *ngIf="saveDepositSettings.get('penalty_amount')?.touched && saveDepositSettings.get('penalty_amount')?.invalid">
                            <small *ngIf="saveDepositSettings.get('penalty_amount')?.errors?.['pattern']">Enter a valid number (e.g. 100, 2500.50).</small>
                        </div>
                    </div>

                    <!-- Amount -->
                    <div class="mb-3 col-lg-12">
                        <label class="col-form-label">Amount</label>
                        <input type="number" class="form-control" placeholder="Amount" formControlName="amount">
                        <div class="text-danger"
                            *ngIf="saveDepositSettings.get('amount')?.touched && saveDepositSettings.get('amount')?.invalid">
                            <small *ngIf="saveDepositSettings.get('amount')?.errors?.['required']">Amount is
                                required.</small>
                            <small *ngIf="saveDepositSettings.get('amount')?.errors?.['pattern']">Enter a valid number
                                (e.g.
                                100, 2500.50).</small>
                            <small *ngIf="saveDepositSettings.get('amount')?.errors?.['min']">Amount must be at least ₹300.</small>
                        </div>
                    </div>

                </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal"
                (click)="modal.close('Close click')">Close</button>
            <button type="button" class="btn btn-primary waves-effect waves-light"
                [disabled]="saveDepositSettings.invalid" (click)="setting()" >Submit</button>
        </div>
    </form>

</ng-template>

  <ng-template #changeKYCStatusModal role="document" let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="myModalLabel">KYC Status</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
        (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Change Status:</label>
            <select type="number" class="form-control" [(ngModel)]="currKYCStatus">
              <option *ngFor="let status of kycStatusList" [ngValue]="status">{{status}}</option>
            </select>
          </div>
  
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal"
        (click)="modal.close('Close click')">Close</button>
      <button type="button" class="btn btn-primary waves-effect waves-light"
        (click)="changeKYCStatusAccount()">Submit</button>
    </div>
  </ng-template>
