<div class="container-fluid">

    <app-page-title title="Answer Contest" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  
    <ng-container *ngFor="let quest of quizList">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <h5 class="card-header bg-transparent border-bottom text-uppercase">{{quest.category}}</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <ng-container *ngFor="let question of quest.questions">
                                    <p class="mt-0 card-title" >Q. {{question.question}} ( Total : {{question.total_marks}}) </p>
                                    <div class="d-flex flex-wrap gap-2">
                                        <button type="submit" class="btn btn-primary" (click)="yesAnswer(question, 'Yes')" >Yes (🟡 {{question.options.Yes}})</button> 
                                        <button type="reset" class="btn btn-secondary" (click)="noAnswer(question, 'No')">No (🟡 {{question.options.No}})</button>
                                    </div>
                                    <br>
                                </ng-container>
                            </div>
                        </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>
  