<div class="container-fluid">
    <app-page-title title="Request for new Card" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div  class="row">
        <div  class="col-lg-12">
            <div  class="card">
                <div class="card-body border-bottom">
                    <div class="row mb-0">
                        <div class="col-sm-4">
                            <div class="search-box me-2 mb-2 d-inline-block">
                                <div class="position-relative">
                                    <input
                                        type="text"
                                        autocomplete="off"
                                        id="searchTableList"
                                        placeholder="Search..."
                                        class="form-control"
                                        (keydown.enter)="search($event.target.value)"
                                    >
                                    <i class="bx bx-search-alt search-icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div  class="card-body">
                    <div  class="row">
                            <div class="table-responsive">

                                <div class="d-flex flex-column justify-content-center align-items-center"  style="min-height: 150px;" *ngIf="ccList.length === 0" >
                                    <img src="assets/img/not-found.png" width="300px" alt="">
                                    <p class="text-mutes mt-2">No request found.</p>
                                </div> 
                                    <table id="basic-datatable" class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline"  *ngIf="ccList.length !== 0">
                                        <thead>
                                            <tr>
                                                <th>S.No.</th>
                                                <th>User Id</th>
                                                <th>Parent Id</th>
                                                <th>Indirect Id</th>
                                                <th>Reqested At</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngFor="let cc of ccList; let i = index">
                                                <tr>
                                                    <td>{{ (page - 1) * pageSize + i + 1 }}</td>
                                                    <td>{{ cc?.user?.name }} <br> ({{cc?.user?.user_id}}) </td>
                                                    <td> <span *ngIf="cc?.direct_user">{{ cc?.direct_user?.name }} <br> ({{cc?.direct_user?.user_id}})</span>  </td>
                                                    <td> <span *ngIf="cc?.indirect_user">{{ cc?.indirect_user?.name }} <br> ({{cc?.indirect_user?.user_id}})</span>  </td>
                                                    <td>{{cc.created_date | date}}</td>
                                                    <td>
                                                        <span class="badge bg-{{cc.status === 'Active' ? 'success' : cc.status === 'Requested' ? 'warning' : 'danger'}}">
                                                            {{cc.status}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span (click)="approveCreditCard(ApproveFormModal, cc)"  data-bs-toggle="tooltip" data-bs-placement="top" title="Approve">
                                                            <a href="javascript:void(0);" class="btn btn-sm btn-soft-info">
                                                                <i class="mdi mdi-close-circle-outline"></i>
                                                            </a>
                                                        </span>
                                                        <span class="mx-1"></span>
                                                        <span (click)="rejectCreditCardModal(RejectFormModal, cc)" data-bs-toggle="tooltip" data-bs-placement="top" title="Reject">
                                                            <a href="javascript:void(0);" class="btn btn-sm btn-soft-danger">
                                                                <i class="mdi mdi-close"></i>
                                                            </a>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </ng-container>
                                            
                                            
                                        </tbody>
                                    </table>
                                    <div class="row justify-content-md-between align-items-md-center mt-2">
                                      <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
                                          <b>{{ (page - 1) * pageSize + 1 }}</b> to
                                          {{ findPageShowing() }} of {{ total }}
                                          entries
                                        </div>
                                      </div>
                                      <div class="col-sm-12 col-md-5">
                                        <div class="text-md-right float-md-end pagination-rounded">
                                          <ngb-pagination [collectionSize]="total" [(page)]="page" [pageSize]="pageSize" (pageChange)="pageChange($event)">
                                          </ngb-pagination>
                                        </div>
                                      </div>
                                    </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #ApproveFormModal role="document" let-modal>
  <div class="modal-header">
      <h5 class="modal-title" id="myModalLabel">Approve Credit Card</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <form  [formGroup]="approveCCFormGroup" novalidate>
  <div class="modal-body">
      <div class="row" >
        <div class="col-md-12">
                <div class="mb-3">
                    <label for="approved_credit_limit" class="form-label">Approved Credit Limit</label>
                    <input
                        type="number"
                        id="approved_credit_limit"
                        class="form-control"
                        formControlName="approved_credit_limit"
                        [class.is-invalid]="approveCCFormGroup.get('approved_credit_limit')?.invalid && (approveCCFormGroup.get('approved_credit_limit')?.touched || approveCCFormGroup.get('approved_credit_limit')?.dirty)"
                        min="100"
                        required
                    />
                    <div class="invalid-feedback" *ngIf="approveCCFormGroup.get('approved_credit_limit')?.errors?.['required']">
                        Credit limit is required.
                    </div>
                    <div class="invalid-feedback" *ngIf="approveCCFormGroup.get('approved_credit_limit')?.errors?.['min']">
                        Minimum credit limit is 100.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="interest_rate" class="form-label">Interest Rate (%)</label>
                    <input
                        type="number"
                        id="interest_rate"
                        class="form-control"
                        formControlName="interest_rate"
                        [class.is-invalid]="approveCCFormGroup.get('interest_rate')?.invalid && (approveCCFormGroup.get('interest_rate')?.touched || approveCCFormGroup.get('interest_rate')?.dirty)"
                        min="0"
                        max="100"
                        required
                    />
                    <div class="invalid-feedback" *ngIf="approveCCFormGroup.get('interest_rate')?.errors?.['required']">
                        Interest rate is required.
                    </div>
                    <div class="invalid-feedback" *ngIf="approveCCFormGroup.get('interest_rate')?.errors?.['min']">
                        Interest rate cannot be negative.
                    </div>
                    <div class="invalid-feedback" *ngIf="approveCCFormGroup.get('interest_rate')?.errors?.['max']">
                        Interest rate cannot exceed 100%.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="penalty" class="form-label">Penalty (In Rupees)</label>
                    <input
                        type="number"
                        id="penalty"
                        class="form-control"
                        formControlName="penalty"
                        [class.is-invalid]="approveCCFormGroup.get('penalty')?.invalid && (approveCCFormGroup.get('penalty')?.touched || approveCCFormGroup.get('penalty')?.dirty)"
                        min="0"
                        max="100"
                        required
                    />
                    <div class="invalid-feedback" *ngIf="approveCCFormGroup.get('penalty')?.errors?.['required']">
                        Penalty is required.
                    </div>
                    <div class="invalid-feedback" *ngIf="approveCCFormGroup.get('penalty')?.errors?.['min']">
                        Penalty cannot be negative.
                    </div>
                    <div class="invalid-feedback" *ngIf="approveCCFormGroup.get('penalty')?.errors?.['max']">
                        Penalty cannot exceed 100%.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="start_date" class="form-label">Start Date</label>
                    <input
                        type="date"
                        [min]="minDate"
                        [max]="maxDate"
                        id="start_date"
                        class="form-control"
                        formControlName="start_date"
                        [class.is-invalid]="approveCCFormGroup.get('start_date')?.invalid && (approveCCFormGroup.get('start_date')?.touched || approveCCFormGroup.get('start_date')?.dirty)"
                        required
                    />
                    <div class="invalid-feedback" *ngIf="approveCCFormGroup.get('start_date')?.errors?.['required']">
                        Start date is required.
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="indirectReferral" class="form-label">Indirect Referral Percentage</label>
                        <input type="number" id="indirectReferral" class="form-control" formControlName="indirect_refer_per"
                            placeholder="Enter indirect referral %">
                        <div *ngIf="approveCCFormGroup.get('indirect_refer_per')?.touched && approveCCFormGroup.get('indirect_refer_per')?.invalid"
                            class="text-danger">
                            <small *ngIf="approveCCFormGroup.get('indirect_refer_per')?.errors?.['required']">Indirect
                                referral % is required.</small>
                            <small *ngIf="approveCCFormGroup.get('indirect_refer_per')?.errors?.['min']">Must be at least
                                0%.</small>
                            <small *ngIf="approveCCFormGroup.get('indirect_refer_per')?.errors?.['max']">Must be 100% or
                                less.</small>
                        </div>
                    </div>
    
                    <!-- Direct Referral -->
                    <div class="col-md-6 mb-3">
                        <label for="directReferral" class="form-label">Direct Referral Percentage</label>
                        <input type="number" id="directReferral" class="form-control" formControlName="direct_refer_per"
                            placeholder="Enter direct referral %">
                        <div *ngIf="approveCCFormGroup.get('direct_refer_per')?.touched && approveCCFormGroup.get('direct_refer_per')?.invalid"
                            class="text-danger">
                            <small *ngIf="approveCCFormGroup.get('direct_refer_per')?.errors?.['required']">Direct referral %
                                is required.</small>
                            <small *ngIf="approveCCFormGroup.get('direct_refer_per')?.errors?.['min']">Must be at least
                                0%.</small>
                            <small *ngIf="approveCCFormGroup.get('direct_refer_per')?.errors?.['max']">Must be 100% or
                                less.</small>
                        </div>
                    </div>
                </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal" (click)="modal.close('Close click')">Close</button>
        <button type="button" class="btn btn-primary waves-effect waves-light" [disabled]="!approveCCFormGroup.valid" (click)="approveCC()" >Submit</button>
      </div>
    </form>
</ng-template>

<ng-template #RejectFormModal role="document" let-modal>
  <div class="modal-header">
      <h5 class="modal-title" id="myModalLabel">Reject Credit Card</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <form  [formGroup]="rejectCCFormGroup" novalidate>
  <div class="modal-body">
      <div class="row" >
        <div class="col-md-12">
                <div class="mb-3">
                    <label for="rejected_credit_limit" class="form-label">Rejected Credit Limit</label>
                    <select
                        id="rejected_credit_limit"
                        class="form-select"
                        formControlName="status"
                        [class.is-invalid]="rejectCCFormGroup.get('status')?.invalid && (rejectCCFormGroup.get('status')?.touched || rejectCCFormGroup.get('status')?.dirty)"
                        required >
                        <option value="Rejected">Rejected</option>
                        <option value="Blocked">Blocked</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="reason" class="form-label">Reason for Rejection</label>
                    <textarea
                        id="reason"
                        class="form-control"
                        formControlName="reason"
                        rows="3"
                        [class.is-invalid]="rejectCCFormGroup.get('reason')?.invalid && (rejectCCFormGroup.get('reason')?.touched || rejectCCFormGroup.get('reason')?.dirty)"
                        required
                        minlength="10"
                    ></textarea>
                    <div class="invalid-feedback" *ngIf="rejectCCFormGroup.get('reason')?.errors?.['required']">
                        Reason is required.
                    </div>
                    <div class="invalid-feedback" *ngIf="rejectCCFormGroup.get('reason')?.errors?.['minlength']">
                        Reason must be at least 10 characters.
                    </div>
                </div>

                

                <div class="mb-3">
                    <label for=""></label>
                </div>
                
        </div>
      </div>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal" (click)="modal.close('Close click')">Close</button>
        <button type="button" class="btn btn-primary waves-effect waves-light" [disabled]="!rejectCCFormGroup.valid"  (click)="rejectCreditCard()" >Submit</button>
      </div>

    </form>
</ng-template>