<div class="container-fluid">

    <app-page-title title="Answer Contest" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Order List</h5>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table id="basic-datatable"
                                      class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline">
                                      <thead>
                                        <tr>
                                          <th>Product</th>
                                          <th>User</th>
                                          <th>Address</th>
                                          <th>Phone No</th>
                                          <th>Status</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <ng-container *ngFor="let orders of orderList">
                                          <tr>
                                            <td>{{orders.product.name}}</td>
                                            <td>
                                                {{orders.user.firstName}}   {{orders.user.lastName}}<br>
                                                <small>{{orders.user.email}}</small>
                                            </td>
                                            <td>{{orders.address}}, {{orders.regionName}}, {{orders.district}}, {{orders.statename}}, {{orders.pincode}}</td>
                                            <td>{{orders.mobile}}</td>
                                            <td>
                                              <span *ngIf="orders.status == 'Received'" class="badge bg-secondary">Received</span>
                                              <span *ngIf="orders.status == 'Approved'" class="badge bg-success">Approved</span>
                                              <span *ngIf="orders.status == 'Dispatched'" class="badge bg-danger">Dispatched</span>
                                              <span *ngIf="orders.status == 'Delivered'" class="badge bg-danger">Delivered</span>
                                              <span *ngIf="orders.status == 'Cancelled'" class="badge bg-danger">Cancelled</span>
                                            </td>
                                            
                                          </tr>
                                        </ng-container>
                                      </tbody>
                                    </table>
                                  </div>
                            </div>
                        </div>
                            
                    </div>
                </div>
            </div>
        </div>
</div>
  