.avatar-lg {
  width: 80px;
  height: 80px;
}

.avatar-title {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  border: 1px solid #e9ebec;
  border-radius: 0.5rem;
}
