<div class="container-fluid">

  <app-page-title title="Requested {{loanType === 'Personal' ? 'Personal' : loanType === 'fd-against-loans' ? 'FD against' : 'Garanteed'}} Loan" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body" >
                        <div class="card-body border-bottom" >
                            <form [formGroup]="searchFormGroup" >
                                <div class="row">
                                    <div class="col-lg-4">
                                        <input type="search" class="form-control" id="searchInput" placeholder="Search for Name / User Id / Email id..." formControlName="name">
                                    </div>
                                    <div class="col-lg-2">
                                        <select class="form-control" formControlName="loan_type"> >
                                            <option value="">Select Loan Type</option>
                                            <option value="Personal">Personal</option>
                                            <option value="Garanteed">Garanteed</option>
                                            <option value="fd-against-loans">FD against Loans</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-2">
                                        <select class="form-control" formControlName="interval"> >
                                            <option value="">Select EMI Type</option>
                                            <option value="Daily">Daily</option>
                                            <option value="Monthly">Monthly</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-2">
                                        <select class="form-control" formControlName="status">
                                            <option value="">Select Status</option>
                                            <option *ngFor="let stat of status" [ngValue]="stat" >{{stat}}</option>
                                        </select>
                                    </div>

                                    <div class="col-lg-1">
                                        <button (click)="search()" type="button" class="btn btn-soft-secondary w-100"><i class="mdi mdi-filter-outline align-middle"></i> Filter</button>
                                    </div>
                                    <div class="col-lg-1" >
                                        <button (click)="refresh()" type="button" class="btn btn-soft-secondary w-100" class="btn btn-light"><i class="mdi mdi-refresh"></i></button>
                                    </div>
                                </div>
                          </form>
                      </div>
                        <div class="row">
                                <div class="d-flex flex-column justify-content-center align-items-center"  style="min-height: 150px;"  *ngIf="!loanList || loanList.length === 0">
                                    <img src="assets/img/not-found.png" width="300px" alt="">
                                    <p class="text-mutes mt-2">No Loan found in the current filter.</p>
                                </div>
                                <div class="table-responsive"  *ngIf="loanList.length !== 0">
                                    <table id="basic-datatable"
                                      class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline">
                                      <thead>
                                        <tr>
                                          <th>Sr No</th>
                                          <th>Loan Number</th>
                                          <th>User</th>
                                          <th>Loan Amount</th>
                                          <th>Duration</th>
                                          <th>EMI Type</th>
                                          <th>Start Date</th>
                                          <th>Purpose</th>
                                          <th *ngIf="this.loanType !== 'Personal'" >Guarantor</th>
                                          <th>Status</th>
                                          <th>Action</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr *ngFor="let loan of loanList; let i = index">
                                          <td>{{ (page - 1) * pageSize + i + 1 }}</td>
                                          <td>
                                            {{loan.loan_id}}
                                            <br>
                                            Requested Date: {{loan.created_date | date}}
                                        </td>
                                          <td>{{loan.user.name}} ({{loan.user.user_id}})  </td>
                                          <td>₹{{loan.requested_loan_amount}}</td>
                                          <td>{{loan.duration}}  {{loan.interval === 'Daily' ? 'day(s)' : 'month(s)'}} </td>
                                          <td>{{loan.interval}}</td>
                                          <td>{{loan.start_date | date}}</td>
                                          <td>{{loan.purpose}}</td>
                                          <td *ngIf="this.loanType !== 'Personal'">
                                            <span *ngIf="loan?.guarantor_1?.length !== 0" [ngClass]="loan?.guarantor_1_approved? 'text-success': 'text-danger'" >{{loan?.guarantor_1[0]?.name}} ({{loan?.guarantor_1[0]?.user_id}}) - <strong>Guarantor 1</strong> &nbsp; <i class="bx bx-check-circle" *ngIf="loan?.guarantor_1_approved" ></i> <i class="bx bx-x-circle" *ngIf="!loan?.guarantor_1_approved" ></i> </span> <br>
                                            <span *ngIf="loan?.guarantor_2?.length !== 0" [ngClass]="loan?.guarantor_2_approved? 'text-success': 'text-danger'">{{loan?.guarantor_2[0]?.name}} ({{loan?.guarantor_2[0]?.user_id}}) - <strong>Guarantor 2</strong> &nbsp; <i class="bx bx-check-circle" *ngIf="loan?.guarantor_2_approved" ></i> <i class="bx bx-x-circle" *ngIf="!loan?.guarantor_2_approved" ></i></span>
                                            </td>
                                          <td>
                                             <a *ngIf="loan.status" href="javascript: void(0);" class="badge font-size-11 m-1"
                                              [ngClass]="{
                                                'badge-soft-primary': loan.status === 'Approved' || loan.status === 'Completed',
                                                'badge-soft-warning': loan.status === 'Requested',
                                                'badge-soft-danger': loan.status === 'Rejected' || loan.status === 'Defaulted',
                                                'badge-soft-secondary': loan.status === 'Pending'
                                              }">
                                              {{ loan.status }}
                                            </a>
                                          </td>
                                          <td>
                                            <ul class="list-inline font-size-20 contact-links mb-0" >
                                              <li *ngIf="loan.status === 'Pending'" (click)="openLoanModal(loanModal, loan)" data-bs-toggle="modal" data-bs-target="#myModal"  class="list-inline-item px-2">
                                                <a href="javascript:void(0);" tooltip="Message">
                                                  <i class="bx bx-check-double"></i>
                                                </a>
                                              </li>
                                              <li class="list-inline-item px-2" *ngIf="loan.status !== 'Pending' && loan.status !== 'Rejected' && loan.loan_type === 'Garanteed'" >
                                                <a (click)="viewGuaranteedLoan(loanViewGaranteedModal, loan)" tooltip="Profile">
                                                  <i class="bx bx-detail"></i>
                                                </a>
                                              </li>
                                              <li class="list-inline-item px-2" *ngIf="loan.status !== 'Pending' && loan.status !== 'Rejected' && loan.loan_type === 'Personal'" >
                                                <a (click)="viewPersonalLoan(loanViewGaranteedModal, loan)" tooltip="Profile">
                                                  <i class="bx bx-detail"></i>
                                                </a>
                                              </li>
                                              <li class="list-inline-item px-2" *ngIf="loan.status !== 'Pending' && loan.status !== 'Rejected' && loan.loan_type === 'Loan Against FD'" >
                                                <a (click)="viewPersonalLoan(loanViewGaranteedModal, loan)" tooltip="Profile">
                                                  <i class="bx bx-detail"></i>
                                                </a>
                                              </li>
                                            </ul>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <div class="row justify-content-md-between align-items-md-center mt-2">
                                      <div class="col-sm-12 col-md-5">
                                        <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
                                          <b>{{ (page - 1) * pageSize + 1 }}</b> to
                                          {{ findPageShowing() }} of {{ total }}
                                          entries
                                        </div>
                                      </div>
                                      <div class="col-sm-12 col-md-5">
                                        <div class="text-md-right float-md-end pagination-rounded">
                                          <ngb-pagination [collectionSize]="total" [(page)]="page" [pageSize]="pageSize" (pageChange)="pageChange($event)">
                                          </ngb-pagination>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                        </div>

                    </div>
                </div>
            </div>
    </div>
</div>


<ng-template #loanModal role="document" let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Approved/Reject {{loanType === 'fd-against-loans'? 'FD against': loanType}} Loan</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form [formGroup]="statusFormGroup">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group mb-3">
                        <label>Status</label>
                        <div class="d-flex align-items-center gap-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="status_approved" value="Approved"
                                    formControlName="status">
                                <label class="form-check-label" for="status_approved">Approved</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="status_rejected" value="Rejected"
                                    formControlName="status">
                                <label class="form-check-label" for="status_rejected">Rejected</label>
                            </div>
                        </div>
                        <div class="text-danger"
                            *ngIf="statusFormGroup.get('status')?.touched && statusFormGroup.get('status')?.invalid">
                            <small *ngIf="statusFormGroup.get('status')?.errors?.['required']">Status is required.</small>
                        </div>
                    </div>

                    <!-- Show rejected reason only if status is Rejected -->
                    <div class="form-group mb-3" *ngIf="statusFormGroup.get('status')?.value === 'Rejected'">
                        <label for="rejected_reason">Rejected Reason</label>
                        <select class="form-control" id="rejected_reason" formControlName="rejected_reason">
                            <option value="">Select reason</option>
                            <option value="Insufficient funds">Insufficient funds</option>
                            <option value="Credit score too low">Credit score too low</option>
                            <option value="Unverifiable income">Unverifiable income</option>
                        </select>
                        <div class="text-danger"
                            *ngIf="statusFormGroup.get('rejected_reason')?.touched && statusFormGroup.get('rejected_reason')?.invalid">
                            <small *ngIf="statusFormGroup.get('rejected_reason')?.errors?.['required']">Rejected reason is required.</small>
                        </div>
                    </div>

                    <div class="row" *ngIf="statusFormGroup.get('status')?.value !== 'Rejected'">
                        <div class="form-group mb-3 col-lg-6">
                            <label for="requested_loan_amount">Requested Loan Amount (₹)</label>
                            <input type="number" class="form-control" id="requested_loan_amount"
                                formControlName="requested_loan_amount" placeholder="Enter approved amount">
                            <div class="text-danger"
                                *ngIf="statusFormGroup.get('requested_loan_amount')?.touched && statusFormGroup.get('requested_loan_amount')?.invalid">
                                <small *ngIf="statusFormGroup.get('requested_loan_amount')?.errors?.['required']">Approved
                                    Loan Amount is required.</small>
                                <small *ngIf="statusFormGroup.get('requested_loan_amount')?.errors?.['pattern']">Enter a
                                    valid number.</small>
                            </div>
                        </div>

                        <div class="form-group mb-3 col-lg-6">
                            <label for="approved_loan_amount">Approved Loan Amount (₹)</label>
                            <input type="number" class="form-control" id="approved_loan_amount"
                                formControlName="approved_loan_amount" placeholder="Enter approved amount">
                            <div class="text-danger"
                                *ngIf="statusFormGroup.get('approved_loan_amount')?.touched && statusFormGroup.get('approved_loan_amount')?.invalid">
                                <small *ngIf="statusFormGroup.get('approved_loan_amount')?.errors?.['required']">Approved
                                    Loan Amount is required.</small>
                                <small *ngIf="statusFormGroup.get('approved_loan_amount')?.errors?.['pattern']">Enter a
                                    valid number.</small>
                            </div>
                        </div>

                        <div class="form-group mb-3 col-lg-6">
                            <label for="interest_rate">Interest Rate (%)</label>
                            <input type="number" class="form-control" id="interest_rate" formControlName="interest_rate"
                                placeholder="Enter interest rate">
                            <div class="text-danger"
                                *ngIf="statusFormGroup.get('interest_rate')?.touched && statusFormGroup.get('interest_rate')?.invalid">
                                <small *ngIf="statusFormGroup.get('interest_rate')?.errors?.['required']">Interest Rate is
                                    required.</small>
                                <small *ngIf="statusFormGroup.get('interest_rate')?.errors?.['pattern']">Enter a valid
                                    number (e.g. 5, 7.25).</small>
                            </div>
                        </div>

                        <div class="form-group mb-3 col-lg-6">
                            <label for="start_date">Start Date</label>
                            <input type="date" class="form-control" id="start_date" [min]="minDate" [max]="maxDate" [value]="minDate" formControlName="start_date">
                            <div class="text-danger"
                                *ngIf="statusFormGroup.get('start_date')?.touched && statusFormGroup.get('start_date')?.invalid">
                                <small *ngIf="statusFormGroup.get('start_date')?.errors?.['required']">Start Date is
                                    required.</small>
                            </div>
                        </div>

                        <div class="form-group mb-3 col-lg-6">
                            <label for="penalty">Penalty (₹)</label>
                            <input type="number" class="form-control" id="penalty" formControlName="penalty"
                                placeholder="Enter penalty percentage">
                            <div class="text-danger"
                                *ngIf="statusFormGroup.get('penalty')?.touched && statusFormGroup.get('penalty')?.invalid">
                                <small *ngIf="statusFormGroup.get('penalty')?.errors?.['required']">Penalty is
                                    required.</small>
                                <small *ngIf="statusFormGroup.get('penalty')?.errors?.['pattern']">Enter a valid number
                                    (e.g. 2, 3.5).</small>
                            </div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="franchiseReferral" class="form-label">Franchise Referral %</label>
                            <input type="number" id="franchiseReferral" class="form-control" formControlName="franchise_refer_per"
                                placeholder="Enter indirect referral">
                            <div *ngIf="statusFormGroup.get('franchise_refer_per')?.touched && statusFormGroup.get('franchise_refer_per')?.invalid"
                                class="text-danger">
                                <small *ngIf="statusFormGroup.get('franchise_refer_per')?.errors?.['required']">Indirect
                                    referral amount is required.</small>
                                <small *ngIf="statusFormGroup.get('franchise_refer_per')?.errors?.['min']">Must be at least
                                    0.</small>
                            </div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="indirectReferral" class="form-label">Indirect Referral %</label>
                            <input type="number" id="indirectReferral" class="form-control" formControlName="indirect_refer_per"
                                placeholder="Enter indirect referral">
                            <div *ngIf="statusFormGroup.get('indirect_refer_per')?.touched && statusFormGroup.get('indirect_refer_per')?.invalid"
                                class="text-danger">
                                <small *ngIf="statusFormGroup.get('indirect_refer_per')?.errors?.['required']">Indirect
                                    referral amount is required.</small>
                                <small *ngIf="statusFormGroup.get('indirect_refer_per')?.errors?.['min']">Must be at least
                                    0.</small>
                            </div>
                        </div>

                        <!-- Direct Referral -->
                        <div class="col-md-6 mb-3">
                            <label for="directReferral" class="form-label">Direct Referral %</label>
                            <input type="number" id="directReferral" class="form-control" formControlName="direct_refer_per"
                                placeholder="Enter direct referral">
                            <div *ngIf="statusFormGroup.get('direct_refer_per')?.touched && statusFormGroup.get('direct_refer_per')?.invalid"
                                class="text-danger">
                                <small *ngIf="statusFormGroup.get('direct_refer_per')?.errors?.['required']">Direct referral %
                                    is required.</small>
                                <small *ngIf="statusFormGroup.get('direct_refer_per')?.errors?.['min']">Must be at least
                                    0.</small>
                            </div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="chequeProof" class="form-label">Cheque Proof</label>
                            <input type="file" id="chequeProof" class="form-control" #selfPassbookInput (change)="onFileSelected($event, 'chequeProof')"
                                accept="image/*" formControlName="cheque_proof">
                            <!-- <div *ngIf="chequeProofError" class="text-danger">
                                <small>{{ chequeProofError }}</small>
                            </div> -->
                        </div>
                        <div  *ngIf="uploadedChequeProof" class="passbook_box" style="cursor:pointer;" (click)="selfPassbookInput.click()">
                            <img *ngIf="uploadedChequeProof" src="{{uploadedChequeProof}}" alt="">
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal"
                (click)="modal.close('Close click')">Close</button>
            <button type="submit" class="btn btn-primary waves-effect waves-light"
                (click)="submit()">Submit</button>
        </div>
    </form>

</ng-template>


<ng-template #loanViewGaranteedModal role="document" let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Loan Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="modal.dismiss('Cross click')"></button>
    </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <p><strong>Loan Number:</strong> {{loanSelected?.loan_id}}</p>
                    <p><strong>User:</strong> {{loanSelected?.user.name}} ({{loanSelected?.user.user_id}})</p>
                    <p><strong>Requested Amount:</strong> ₹{{loanSelected?.requested_loan_amount}}</p>
                    <p><strong>Approved Amount:</strong> ₹{{loanSelected?.approved_loan_amount}}</p>
                    <p><strong>Interest Rate:</strong> {{loanSelected?.interest_rate}}% (A.P.R.)</p>
                    <p><strong>Status:</strong> {{loanSelected?.status}}</p>
                </div>
                <div class="col-md-6">
                    <p><strong>Loan Type:</strong> {{loanSelected?.loan_type}}</p>
                    <p><strong>Duration:</strong> {{loanSelected?.duration}} {{loanSelected?.interval === 'Daily' ? 'day(s)' : 'month(s)'}} </p>
                    <p><strong>EMI Type:</strong> {{loanSelected?.interval}}</p>
                    <p><strong>Purpose:</strong> {{loanSelected?.purpose}}</p>
                    <p><strong>Start Date:</strong> {{loanSelected?.start_date | date:'dd/MM/yyyy'}}</p>
                </div>
                <div class="col-12 mt-2 d-flex justify-content-end mb-2">
                    <button class="btn btn-sm btn-primary" (click)="payloan()">Pay Loan</button>
                </div>
            </div>

            <div class="row mb-3" *ngIf="LoanTotal && loanType === 'Garanteed'">
                <div class="col-md-2" *ngFor="let item of [
                    {label:'Total Days', value:LoanTotal['Total Days']},
                    {label:'Principal', value:'₹'+LoanTotal['Total Principal']},
                    {label:'Interest', value:'₹'+LoanTotal['Total Interest']},
                    {label:'Projected EMI', value:'₹'+LoanTotal['Projected Total EMI']},
                    {label:'Projected (Penalties)', value:'₹'+LoanTotal['Projected Total (with Penalties)']},
                    {label:'Penalty', value:'₹'+LoanTotal['Total Penalty']},
                    {label:'Paid', value:'₹'+LoanTotal['Total Amount Paid']},
                    {label:'Remaining', value:'₹'+LoanTotal['Total Remaining Amount']},
                    {label:'Fully Paid', value:LoanTotal['Fully Paid Installments']},
                    {label:'Partially Paid', value:LoanTotal['Partially Paid Installments']},
                    {label:'Pending', value:LoanTotal['Pending Installments']},
                    {label:'Paid Interest', value:'₹'+LoanTotal['Paid Interest']},
                    {label:'Rem. Interest', value:'₹'+LoanTotal['Remaining Interest']}
                ]">
                    <div class="card card-body p-2 mb-2 text-center">
                        <small class="text-muted">{{item.label}}</small>
                        <div class="fw-bold">{{item.value}}</div>
                    </div>
                </div>
            </div>

            <div class="passbook_box">
                <img  src="{{document_to}}" alt="">
            </div>

            <div class="row mb-3" *ngIf="LoanTotal && loanType === 'Personal'">
                <div class="col-md-2" *ngFor="let item of [
                    {label:'Total Days', value:LoanTotal['Total Days']},
                    {label:'Principal', value:'₹'+LoanTotal['Total Principal']},
                    {label:'Interest', value:'₹'+LoanTotal['Total Interest']},
                    {label:'Projected EMI', value:'₹'+LoanTotal['Projected Total EMI']},
                    {label:'Projected (Penalties)', value:'₹'+LoanTotal['Projected Total (with Penalties)']},
                    {label:'Penalty', value:'₹'+LoanTotal['Total Penalty']},
                    {label:'Paid', value:'₹'+LoanTotal['Total Amount Paid']},
                    {label:'Remaining', value:'₹'+LoanTotal['Total Remaining Amount']},
                    {label:'Fully Paid', value:LoanTotal['Fully Paid Installments']},
                    {label:'Partially Paid', value:LoanTotal['Partially Paid Installments']},
                    {label:'Pending', value:LoanTotal['Pending Installments']},
                    {label:'Paid Interest', value:'₹'+LoanTotal['Paid Interest']},
                    {label:'Rem. Interest', value:'₹'+LoanTotal['Remaining Interest']},
                    {label:'Outstanding', value:'₹'+LoanTotal['Outstanding']}
                ]">
                    <div class="card card-body p-2 mb-2 text-center">
                        <small class="text-muted">{{item.label}}</small>
                        <div class="fw-bold">{{item.value}}</div>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline" >
                    <tbody>
                        <tr>
                            <th><strong>Installment</strong></th>
                            <th><strong>Date</strong></th>
                            <th><strong>Principal O/S</strong></th>
                            <th><strong>EMI</strong></th>
                            <th><strong>Penalty</strong></th>
                            <th><strong>Interest</strong></th>
                            <th><strong>Principal</strong></th>
                            <th><strong>Balance</strong></th>
                            <th><strong>Status</strong></th>
                        </tr>
                        <ng-container *ngFor="let installment of LoanTable">
                            <tr>
                                <td>{{installment.Installment}}</td>
                                <td>{{installment.Date}}</td>
                                <td>₹{{installment['Principal O/S']}}</td>
                                <td>₹{{installment.EMI}}</td>
                                <td>₹{{installment.Penalty}}</td>
                                <td>₹{{installment.Interest}}</td>
                                <td>₹{{installment.Principal}}</td>
                                <td>₹{{installment.Balance}}</td>
                                <td>{{installment['Status']}}</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal"
                (click)="modal.close('Close click')">Close</button>
        </div>

</ng-template>
