.passbook_box  {
    width: 70%;
    height: 120px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: #000000 solid 1px;
}

.passbook_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}