<div class="container-fluid">

    <app-page-title title="Match Quiz" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add Quiz</h5>
                    <p class="card-title-desc"></p>
                    <form [formGroup]="addQuizFormGroup" >
                        <div class="row">
                          <div class="col-md-12">
                            <div class="mb-3">
                                <label>Select Upcoming Matches</label>
                                <ng-select formControlName="match_id" (change)="matchData($event)" placeholder="Select Match" [items]="upcomingMatches" bindLabel="label" bindValue="match_id"></ng-select>
                            </div>
                          </div>
                        </div>
                        <ng-container formArrayName="quiz" *ngFor="let qui of quiz?.controls; let i = index">
                          <div class="row"  [formGroupName]="i">
                            <div class="col-md-7">
                              <div class="mb-3">
                                  <label for="formrow-email-input">Question</label>
                                  <input type="text" class="form-control" formControlName="question" >
                              </div>
                            </div>
                            <div class="col-md-1">
                              <div class="mb-3">
                                  <label for="formrow-email-input">Total</label>
                                  <select class="form-control" formControlName="total_marks" (change)="questionTypeChange($event.target, quiz.at(i))" >
                                    <option value="10">10</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                  </select>
                              </div>
                            </div>
                            <div class="col-md-1">
                              <div class="mb-3">
                                  <label for="formrow-email-input">Yes</label>
                                  <input type="number" class="form-control" formControlName="yes" >
                              </div>
                            </div>
                            <div class="col-md-1">
                                <div class="mb-3">
                                    <label for="formrow-email-input">No</label>
                                    <input type="number" class="form-control" formControlName="no" >
                                </div>
                            </div>
                            <div class="col-md-1">
                              <div class="mb-3">
                                  <label for="formrow-email-input">Live</label>
                                  <div class="form-check mb-3">
                                    <input class="form-check-input" type="checkbox"formControlName="isLiveQuestion" [value]="true">
                                    <label class="form-check-label" for="formCheck1">
                                      Yes
                                    </label>
                                </div>
                              </div>
                            </div>
                            <div class="form-group col-lg-1" >
                              <button *ngIf="i===0"  (click)="addQuiz()" type="button" class="btn btn-outline-success button-icon" style="margin-top: 27px;"><i class="bx bx-plus"></i></button>
                              <button *ngIf="i!==0"  (click)="removeQuiz(i)" type="button" class="btn btn-outline-danger button-icon" style="margin-top: 27px;"><i class="bx bx-minus"></i></button>
                            </div>
                          </div>
                        </ng-container>
                        <div>
                            <button type="submit" class="btn btn-primary w-md" [disabled]="!addQuizFormGroup.valid"  (click)="onSave()" >Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="row"  *ngIf="listedQuiz.length > 0">
      <div class="col-xl-12">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Update Quiz</h5>
                  <p class="card-title-desc"></p>
                  <div class="row">
                    <div class="col-md-12">
                      <form [formGroup]="editQuizFormGroup" >
                        <ng-container formArrayName="quiz" *ngFor="let qui of editquiz?.controls; let i = index">
                          <div class="row"  [formGroupName]="i">
                            <div class="col-md-6">
                              <div class="mb-3">
                                  <label for="formrow-email-input">Question</label>
                                  <input type="text" class="form-control" formControlName="question" >
                              </div>
                            </div>
                            <div class="col-md-1">
                              <div class="mb-3">
                                  <label for="formrow-email-input">Total</label>
                                  <select class="form-control" formControlName="total_marks" (change)="questionTypeChange($event.target, quiz.at(i))" >
                                    <option value="10">10</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                  </select>
                              </div>
                            </div>
                            <div class="col-md-1">
                              <div class="mb-3">
                                  <label for="formrow-email-input">Yes</label>
                                  <input type="number" class="form-control" formControlName="yes" >
                              </div>
                            </div>
                            <div class="col-md-1">
                                <div class="mb-3">
                                    <label for="formrow-email-input">No</label>
                                    <input type="number" class="form-control" formControlName="no" >
                                </div>
                            </div>
                            <div class="col-md-1">
                              <div class="mb-3">
                                  <label for="formrow-email-input">Live</label>
                                  <div class="form-check mb-3">
                                    <input class="form-check-input" type="checkbox"formControlName="isLiveQuestion" [value]="true">
                                    <label class="form-check-label" for="formCheck1">
                                      Yes
                                    </label>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-1">
                              <div class="mb-3">
                                  <label for="formrow-email-input">Status</label>
                                  <div class="form-check mb-3">
                                    <input class="form-check-input" type="checkbox"formControlName="status" [value]="true">
                                    <label class="form-check-label" for="formCheck1">
                                      Yes
                                    </label>
                                </div>
                              </div>
                            </div>
                            <div class="form-group col-lg-1" >
                              <button *ngIf="i===0"  (click)="addEditQuiz()" type="button" class="btn btn-outline-success button-icon" style="margin-top: 27px;"><i class="bx bx-plus"></i></button>
                              <button *ngIf="i!==0"  (click)="removeEditQuiz(i)" type="button" class="btn btn-outline-danger button-icon" style="margin-top: 27px;"><i class="bx bx-minus"></i></button>
                            </div>
                          </div>
                        </ng-container>
                        <div>
                            <button type="submit" class="btn btn-primary w-md"  [disabled]="!editQuizFormGroup.valid"  (click)="onEdit()" >Edit</button>
                        </div>
                    </form>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  
    
  </div>
  