<div class="container-fluid">
    <app-page-title title="Profile" [breadcrumbItems]="breadCrumbItems"></app-page-title>

    <div class="col-lg-12" *ngIf="user_details">
        <div class="card a4-sheet">
            <div class="card-body">
                <form [formGroup]="profileFormGroup" >
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <img src="assets/images/logo-dark.png" style="width: 100px;" alt="Logo" class="img-fluid mb-4">
                            <p>VERTEX KALYAN COOPERTIVE URBAN THRIFT & CREDIT SOCIETY LTD. REGISTERED UNDER GOVERMENT OF INDIA, REGD. NO.-
                                REGD.OFFICE- PLOT NO.-53, 3RD, FLOOR, MAIN ROAD, OPP. MOTHER DAIRY, PANDAV NAGAR, EAST DELHI- 110092, <a href="https://vertexsociety.com/">WWW.VERTEXSOCIETY.COM</a></p>
                            <hr class="line">
                        </div>
                        <div class="col-lg-12 mb-4 d-flex justify-content-center align-items-center text-center">
                            <div class="flex-fill"><strong>USER ID:</strong> {{user_details?.user_id}}</div>
                            <div class="flex-fill oval">Membership Details</div>
                            <div class="flex-fill"><strong>ACCOUNT NO:</strong> {{user_details?.account_number}}</div>
                        </div>
                        <div class="d-flex align-items-end mt-4">
                        <div class="col-lg-6 mb-1">
                            <p class="mb-2">To,</p>
                            <p class="mb-0">The Secretary/President,</p>
                            <p class="mb-0">VERTEX KALYAN COOPERTIVE URBAN THRIFT & CREDIT SOCIETY LTD.</p>
                        </div>
                        <div class="col-lg-6 d-flex justify-content-end">
                            <div class="self-photo">
                                <span *ngIf="!selected_photo">SELF PHOTO</span>
                                <img *ngIf="selected_photo" src="{{selected_photo}}" alt="">
                            </div>
                        </div>
                    </div>
                        <div class="col-lg-12" >
                            <p class="mb-0">Dear Sir/Madam,</p>
                            <p>&nbsp;&nbsp;&nbsp;&nbsp; I willingly apply for admission as a member of your society. I understand all the Rules & regulation of the Society and I follow
                                all Rules & regulation of society. Do hereby declare that all documents and information given by me below is True to the best of
                                my knowledge and belief. I understand that any false information or violation of the cooperative rules may result in cancellation
                                of my membership.</p>
                            <p class="mb-0">
                                म" आपक& सोसायट, के सद/य के 0प म1 2वेश के 5लए /वे8छा से आवेदन करता हूँ। म" सोसायट, के सभी CनयमD और FवCनयमD को समझता हूँ
                                और सोसायट, के सभी CनयमD और FवCनयमD का पालन करता हूँ। म" एतHHवारा घोषणा करता हूँ Lक मेरे Hवारा नीचे Nदए गए सभी द/तावेज़
                                और जानकार, मेरे सवRSम Tान और FवUवास के अनुसार सXय ह"। म" समझता हूँ Lक Lकसी भी गलत जानकार, या सहकार, CनयमD के उZलंघन
                                के प\रणाम/व0प मेर, सद/यता रHद हो सकती है।
                            </p>
                        </div>

                        <div class="col-lg-12 mt-4">
                            <div class="row mb-4">
                                <label for="name" class="col-sm-3 col-form-label">Name of Applicant, Mr./Mrs./Miss </label>
                                <div class="col-sm-2 d-flex align-items-center">
                                    <span>{{ profileFormGroup.get('name')?.value }}</span>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <label for="guardian_name" class="col-sm-3 col-form-label">Guardian Name</label>
                                <div class="col-sm-2 d-flex align-items-center">
                                    <span>{{ profileFormGroup.get('guardian_name')?.value }}</span>
                                </div>
                                <label for="guardian_relation" class="col-sm-2 col-form-label">Relationship</label>
                                <div class="col-sm-3 d-flex align-items-center">
                                    <span>{{ profileFormGroup.get('guardian_relation')?.value }}</span>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <label for="mother_name" class="col-sm-3 col-form-label">Mother Name </label>
                                <div class="col-sm-2 d-flex align-items-center">
                                    <span>{{ profileFormGroup.get('mother_name')?.value }}</span>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label for="date_of_birth" class="col-sm-3 col-form-label">Date of birth </label>
                                <div class="col-sm-2 d-flex align-items-center">
                                    <span>{{ profileFormGroup.get('date_of_birth')?.value }}</span>
                                </div>
                                <label for="date_of_birth" class="col-sm-3 col-form-label">(Age: {{ userAge }} years)</label>
                            </div>

                            <div class="row mb-4">
                                <label class="col-sm-3 col-form-label">Gender</label>
                                <div class="col-sm-9 d-flex align-items-center">
                                    <span>{{ profileFormGroup.get('gender')?.value }}</span>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <label class="col-sm-3 col-form-label">Marital Status</label>
                                <div class="col-sm-9 d-flex align-items-center">
                                    <span>{{ profileFormGroup.get('maritial_status')?.value }}</span>
                                </div>
                            </div>
                            <div class="row mb-4" *ngIf="profileFormGroup.get('maritial_status')?.value === 'Married'">
                                <label for="spouse_name" class="col-sm-3 col-form-label">Wife/Husband Name</label>
                                <div class="col-sm-2 d-flex align-items-center">
                                    <span>{{ profileFormGroup.get('spouse_name')?.value }}</span>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <label for="aadhar" class="col-sm-3 col-form-label">Aadhar Number</label>
                                <div class="col-sm-6 d-flex align-items-center">
                                    <span>{{ profileFormGroup.get('aadhar')?.value }}</span>
                                </div>
                                <div class="col-sm-6 d-flex justify-content-end">
                                    <div class="aadhar_box">
                                        <img src="{{profileFormGroup.get('aadhar_front')?.value}}" style="max-width: 160px; max-height: 160px;" alt="">
                                    </div>
                                </div>
                                <div class="col-sm-6 d-flex justify-content-end">
                                    <div class="aadhar_box">
                                        <img src="{{profileFormGroup.get('aadhar_back')?.value}}" style="max-width: 160px; max-height: 160px;" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <label for="pan" class="col-sm-3 col-form-label">PAN Number</label>
                                <div class="col-sm-6 d-flex align-items-center">
                                    <span>{{ profileFormGroup.get('pan')?.value }}</span>
                                </div>
                                <div class="col-sm-6"></div>
                                <div class="col-sm-6 d-flex justify-content-end">
                                    <div class="aadhar_box">
                                        <img src="{{profileFormGroup.get('pan_image')?.value}}" style="max-width: 160px; max-height: 160px;" alt="">
                                    </div>
                                </div>
                                <!-- <label for="pan_image" *ngIf="profileFormGroup.get('pan_image')?.value" class="col-sm-1 col-form-label">PAN Image</label>
                                <div class="col-sm-2" *ngIf="profileFormGroup.get('pan_image')?.value">
                                    <button class="btn btn-sm btn-primary" (click)="viewImage(profileFormGroup.get('pan_image')?.value, viewImageModal)">
                                        <i class="mdi mdi-eye"></i> PAN Image
                                    </button>
                                </div> -->
                            </div>

                            <div class="row mb-4">
                                <label for="mobile_number" class="col-sm-3 col-form-label">Mobile Number</label>
                                <div class="col-sm-3 d-flex align-items-center">
                                    <span>{{ profileFormGroup.get('mobile_number')?.value }}, {{ profileFormGroup.get('mobile_number_2')?.value }}</span>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <label for="state" class="col-sm-3 col-form-label">Location Details</label>
                                <div class="row col-sm-9">
                                    <div class="col-sm-3 mb-1 d-flex flex-column">
                                        <label for="">State</label>
                                        <!-- <span>{{ getStateName(profileFormGroup.get('state')?.value) }}</span> -->
                                    </div>
                                    <div class="col-sm-4 mb-1 d-flex flex-column">
                                        <label for="">District</label>
                                        <!-- <span>{{ getDistrictName(profileFormGroup.get('district')?.value) }}</span> -->
                                    </div>
                                    <div class="col-sm-4 mb-1 d-flex flex-column">
                                        <label for="">Area</label>
                                        <!-- <span>{{ getAreaName(profileFormGroup.get('area')?.value) }}</span> -->
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <label for="present_addr" class="col-sm-3 col-form-label">Present/Correspondance Address</label>
                                <div class="col-sm-8">
                                    <div formArrayName="present_addresses">
                                        <div *ngFor="let address of profileFormGroup.get('present_addresses')['controls']; let i = index" [formGroupName]="i" class="row mb-2">
                                            <div class="col-sm-12 mb-2">
                                                <span class="form-control-plaintext">{{ address.get('address')?.value }}, {{ address.get('state')?.value }}, {{ address.get('district')?.value }}, {{ address.get('pincode')?.value }}</span>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <label for="permanent_addr" class="col-sm-3 col-form-label">Permanent Address</label>
                                <div class="col-sm-8">
                                    <div formArrayName="permanent_addresses">
                                        <div *ngFor="let address of profileFormGroup.get('permanent_addresses')['controls']; let i = index" [formGroupName]="i" class="row mb-2">
                                            <div class="col-sm-12 mb-2">
                                                <span class="form-control-plaintext">{{ address.get('address')?.value }}, {{ address.get('state')?.value }}, {{ address.get('district')?.value }}, {{ address.get('pincode')?.value }}</span>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <label for="email_id" class="col-sm-3 col-form-label">Email ID</label>
                                <div class="col-sm-3 d-flex align-items-center">
                                    <span>{{ profileFormGroup.get('email_id')?.value }}</span>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <label for="whatsapp_no" class="col-sm-3 col-form-label">WhatsApp No.</label>
                                <div class="col-sm-3 d-flex align-items-center">
                                    <span>{{ profileFormGroup.get('whatsapp_no')?.value }}</span>
                                </div>
                            </div>

                            <p><u>Name & Address of the employed or business address</u></p>

                            <div class="row mb-4">
                                <label for="office_addr" class="col-sm-3 col-form-label">Office Address</label>
                                <div class="col-sm-8">
                                    <div formArrayName="office_addresses">
                                        <div *ngFor="let address of profileFormGroup.get('office_addresses')['controls']; let i = index" [formGroupName]="i" class="row mb-2">
                                            <div class="col-sm-12 mb-2">
                                                <span class="form-control-plaintext">{{ address.get('address')?.value }}, {{ address.get('state')?.value }}, {{ address.get('district')?.value }}, {{ address.get('pincode')?.value }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <label class="col-sm-3 col-form-label" for="bank_details">Bank Details</label>
                                <div class="col-sm-8">
                                    <div formArrayName="banks">
                                        <div *ngFor="let bank of profileFormGroup.get('banks')['controls']; let i = index" [formGroupName]="i" class="row mb-2 align-items-end">
                                            <div class="col-sm-12">
                                                <span class="form-control-plaintext"><strong>Bank Name :</strong>  {{ bank.get('bank_name')?.value }}</span>
                                            </div>
                                            <div class="col-sm-12">
                                                <span class="form-control-plaintext"><strong>Account Number :</strong> {{ bank.get('account_number')?.value }}</span>
                                            </div>
                                            <div class="col-sm-12">
                                                <span class="form-control-plaintext"><strong>IFSC Code :</strong> {{ bank.get('ifsc_code')?.value }}</span>
                                            </div>
                                            <div class="col-sm-12">
                                                <span class="form-control-plaintext"><strong>Branch Name :</strong> {{ bank.get('branch_name')?.value }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <label class="col-sm-3 col-form-label">Passbook/Cheque</label>
                                <div class="col-sm-5 d-flex align-items-center">
                                <!-- <input type="file" id="passbook_cheque" placeholder="Passbook/Cheque" class="form-control" (change)="uploadFile($event, 'passbook_cheque')"> -->
                                <div class="passbook_box" style="cursor:pointer;" (click)="selfPassbookInput.click()">
                                        <span  *ngIf="!selected_cheque">UPLOAD Passbook/Cheque</span>
                                        <img *ngIf="selected_cheque" src="{{selected_cheque}}" alt="">
                                    </div>
                                    <input type="file" #selfPassbookInput style="display:none" (change)="onSelfPassbookSelected($event)">
                                </div>
                            </div>

                            <div class="row mb-4 align-items-center">
                                <label class="col-sm-3 col-form-label">Name of the Nominee</label>
                                <div class="col-sm-2 d-flex align-items-center">
                                    <span>{{ profileFormGroup.get('nominee_name')?.value }}</span>
                                </div>
                                <label class="col-sm-2 col-form-label">Relationship</label>
                                <div class="col-sm-2 d-flex align-items-center">
                                    <span>{{ profileFormGroup.get('nominee_relation')?.value }}</span>
                                </div>
                            </div>

                            <div class="row mb-4 align-items-center">
                                <label class="col-sm-3 col-form-label">Nominee DOB</label>
                                <div class="col-sm-2 d-flex align-items-center">
                                    <span>{{ profileFormGroup.get('nominee_dob')?.value }}</span>
                                </div>
                                <label class="col-sm-2 col-form-label">Nominee Mobile</label>
                                <div class="col-sm-2 d-flex align-items-center">
                                    <span>{{ profileFormGroup.get('nominee_mobile')?.value }}</span>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <label class="col-sm-3 col-form-label">Are you disability?</label>
                                <div class="col-sm-9 d-flex align-items-center">
                                    <div class="form-check me-3">
                                        <input class="form-check-input" type="radio" formControlName="is_divyang" name="is_divyang" id="disabilityYes" [value]="true" disabled>
                                        <label class="form-check-label" for="disabilityYes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" formControlName="is_divyang" name="is_divyang"  id="disabilityNo" [value]="false" disabled>
                                        <label class="form-check-label" for="disabilityNo">
                                            No
                                        </label>
                                    </div>
                                    <div class="col-sm-2" *ngIf="profileFormGroup.get('is_divyang')?.value">
                                        <label for="disability_type">Disability Type</label>
                                    </div>
                                    <div class="col-sm-6" *ngIf="profileFormGroup.get('is_divyang')?.value">
                                        <span class="form-control-plaintext">{{ profileFormGroup.get('disability_type')?.value }}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-4">
                                <label class="col-sm-3 col-form-label">Occupation</label>
                                <div class="col-sm-9 d-flex align-items-center">
                                    <span class="form-control-plaintext">{{ profileFormGroup.get('occupation')?.value }}</span>
                                </div>
                            </div>



                            <p class="mb-0">
                                NOTE :- I apply for admission as a member of your society. I understand the Rules & By-laws of the Society and hereby agree to
                                abide by them and any subsequent modifications thereto. I also hereby declare that I am neither a member of any other Co-
                                operative Thrift & Credit Society operating or working in the State of Delhi nor taken any kind of Loan which is outstanding as on
                                date. I request that the Managing Committee may please allot me ____ Shares of Rs. 500/- each and I also agree to deposit Rs. 200/-
                                per month on account of Compulsory Deposit as well as Admission Fee of Rs. 100/- and other sums towards Building Fund,
                                Welfare Fund, Miscellaneous Receipts etc. as applicable on the date of my admission as Member. I hereby nominate the
                                following person to whom all money due to me by the society or payable by me to the society, in the event of my death, maybe
                                paid or recovered as the case may be.
                            </p>

                        </div>

                        <div class="col-lg-12 mt-4 mb-5">
                            <p class="mb-0">I request that the mamaging committee may please allot me one share of rs.-500/-, and i also other sums towards building fund,
                            kalyan fund, misc. ect., as applicable on the date of my admission as member. i hereby nominate the following person to whom
                            all money due to me by the society or payable by me to the society,in the event of my death, may be paid or recovered, as the
                            case may be.</p>
                        </div>

                        <div class="row mb-4 mt-6">
                            <p class="col-sm-6 col-form-label">
                                <strong>Date of Joining : </strong> {{profileFormGroup.get('created_date')?.value}} <br>
                                <strong>Place : </strong>   {{profileFormGroup.get('signed_at')?.value}}
                            </p>
                            <div class="col-sm-6 d-flex justify-content-end">
                                <div class="sign_box">
                                    <img *ngIf="selected_signature" src="{{selected_signature}}" alt="">
                                </div>
                            </div>
                        </div>


                    <div *ngIf="profileFormGroup.invalid && profileFormGroup.touched" class="alert alert-danger">
                        Please correct the errors above before submitting the form.
                    </div>

                    </div>
                </form>

        </div>
        </div> <!-- card -->

    </div> <!-- col-lg-12 -->
</div> <!-- container-fluid -->
