<div class="container-fluid">

    <!-- start page title -->
    <app-page-title title="Updates" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <!-- end page title -->

    <!-- end row -->
    <div class="row" *ngIf="showBanner">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Add Updates</h5>
                    <p class="card-title-desc"></p>
                    <form [formGroup]="saveBannerFormGroup" >
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <select class="form-select" formControlName="type" (change)="changeBannerType($event.target)" aria-label="Floating label select example">
                                        <option value="">Select Updates Type</option>
                                        <option value="news">News</option>
                                        <option value="images">Images</option>
                                        <option value="short_videos">Short Videos</option>
                                        <option value="posts">Posts</option>
                                    </select>
                                    <label for="floatingSelectGrid">Updates Type</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3" >
                                    <input type="text" formControlName="title" class="form-control" id="title" placeholder="Title" >
                                    <label for="title">Title</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3" >
                                    <input type="text" formControlName="source" class="form-control" id="source" placeholder="Source" >
                                    <label for="source">Source</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3" >
                                    <input type="text" formControlName="body" class="form-control" id="body" placeholder="Body" >
                                    <label for="body">Body</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3" >
                                    <input type="url" formControlName="href" class="form-control" id="href" placeholder="URL" >
                                    <label for="href">URL</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                              <div class="mb-3">
                                  <label for="formFile" class="form-label">Upload Image</label>
                                  <input class="form-control" type="file"  (change)="uploadFile($event)">
                              </div>
                          </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary w-md"  (click)="onSave()" >Submit</button>
                            <button type="submit" class="btn btn-outline-secondary" style="margin-left: 1rem;"  (click)="showBanner = false" >Close</button>
                        </div>
                    </form>
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->

    <div class="row" *ngIf="showEditBanner">
      <div class="col-xl-12">
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Edit Banner</h5>
                  <p class="card-title-desc"></p>
                  <form [formGroup]="editBannerFormGroup" >
                      <div class="row">

                        <div class="col-md-6">
                          <div class="form-floating mb-3">
                              <select class="form-select" formControlName="type" (change)="changeBannerType($event.target)" aria-label="Floating label select example">
                                  <option value="">Select Updates Type</option>
                                  <option value="news">News</option>
                                  <option value="images">Images</option>
                                  <option value="short_videos">Short Videos</option>
                                  <option value="posts">Posts</option>
                              </select>
                              <label for="floatingSelectGrid">Updates Type</label>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-floating mb-3" >
                              <input type="text" formControlName="title" class="form-control" id="title" placeholder="Title" >
                              <label for="title">Title</label>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-floating mb-3" >
                              <input type="text" formControlName="source" class="form-control" id="source" placeholder="Source" >
                              <label for="source">Source</label>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-floating mb-3" >
                              <input type="text" formControlName="body" class="form-control" id="body" placeholder="Body" >
                              <label for="body">Body</label>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-floating mb-3" >
                              <input type="url" formControlName="href" class="form-control" id="href" placeholder="URL" >
                              <label for="href">URL</label>
                          </div>
                      </div>
                      <div class="col-md-6">
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Upload Image</label>
                            <input class="form-control" type="file" (change)="uploadFile($event)">
                        </div>
                      </div>
                      </div>
                      <div>
                          <button type="submit" class="btn btn-primary w-md"  (click)="onEdit()" >Submit</button>
                          <button type="submit" class="btn btn-outline-secondary" style="margin-left: 1rem;"  (click)="showBanner = false" >Close</button>
                      </div>
                  </form>
              </div>
              <!-- end card body -->
          </div>
          <!-- end card -->
      </div>
      <!-- end col -->
  </div>

    <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <h5 class="mb-0 card-title flex-grow-1">Updates</h5>
                <div class="flex-shrink-0 d-flex gap-1">
                  <a (click)="showBanner=true" class="btn btn-primary">Add New Updates</a>
                </div>
              </div>

              <div class="table-responsive">
                <table id="basic-datatable"
                  class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>News Type</th>
                      <th>Title</th>
                      <th width="20%">Body</th>
                      <th>Source</th>
                      <th>Date</th>
                      <th>URL</th>
                      <th width="10%" >Image</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let banner of allBanner; let i = index">
                      <tr>
                        <td>{{i+1}}</td>
                        <td>{{banner.type | titlecase}}</td>
                        <td>{{banner.title}}</td>
                        <td>{{banner.body}}</td>
                        <td>{{banner.source}}</td>
                        <td>{{banner.date}}</td>
                        <td>
                            <a href="{{banner.url}}" target="_blank" class="btn btn-sm btn-soft-info"><i class="mdi mdi-source-fork"></i></a>
                        </td>
                        <td>
                          <img style="width: 40%;" crossorigin="anonymous" src="{{banner.imgSrc}}">
                          <div class="mb-4">
                          </div>
                        </td>
                        <td>
                          <ul  class="list-unstyled hstack gap-1 mb-0">
                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                              <a (click)="editBanner(banner)" class="btn btn-sm btn-soft-info"><i class="mdi mdi-pencil-outline"></i></a>
                            </li>
                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                              <a  (click)="deleteBanner(banner._id)" data-bs-toggle="modal" class="btn btn-sm btn-soft-danger"><i  class="mdi mdi-delete-outline"></i></a>
                            </li>
                          </ul>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
                </table>
              </div>
              <!-- End table -->
              <!-- <div class="row justify-content-md-between align-items-md-center mt-2">
                <div class="col-sm-12 col-md-5">
                  <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">Showing
                    {{service.startIndex}} to
                    {{service.endIndex}} of {{service.totalRecords}}
                    entries
                  </div>
                </div>
                <div class="col-sm-12 col-md-5">
                  <div class="text-md-right float-md-end pagination-rounded">
                    <ngb-pagination [collectionSize]="total$ | async" [(page)]="service.page" [pageSize]="service.pageSize">
                    </ngb-pagination>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>

</div>
